@charset "UTF-8";
body{
    background-color: rgb(24, 20, 20);
}
h1{
    color: white;
    text-align: center;
}
p{
    color: white;
}

.imagens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 300px;
    width: 300px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 30em; right: 5em;
}
.video {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 12em;
    
    
}

